.Cart{
  display: grid;
  justify-content: center;
  justify-items: center;
  background-color: var(--page-background);
}

.Cart .empty-text{
  margin: 16px 0px;
}


.Cart h1 {
  margin: 10px 0px 0px;
}

/* .cart-items{
  display: grid;
  justify-items: center;
} */

.Cart .subtotal {
  padding: 12px;
  justify-self: end;
}

.cart-items .price-title{
  text-align: end;
  padding-right: 30px;
  padding-bottom: 5px;
}

.cart-item {
  display: grid;
  justify-items: center;
  align-items: center;
  /* grid-template-columns: minmax(0, 96px); */
  grid-template-columns: auto 1fr auto;
  padding: 10px;
  gap: 10px;

  background-color: white;
  box-shadow: 0px 0px 6px 2px lightgrey;
  max-width: 900px;
}

.cart-item img {
  /* max-width: 96px;
  width: 100%;
  height: auto; */
  width: 96px;
  padding: 0px 20px;
}

.cart-item .info {
  justify-self: start;
  /* align-self: start; */
  
}

.cart-item .total {
  justify-self: end;
  padding-right: 10px;
}

.cart-item .info * {
  margin: 2px;
}

.cart-item .title {
  margin: 0px;
}

.cart-item .title a {
  text-decoration: none;
  color: black;
  margin: 0px;
}

.cart-item a:hover {
  text-decoration: underline;
}

.cart-item .remove {
  font-size: 0.98rem;
  /* padding: 3px 5px; */
  
  padding: 3px 0px;
  color: blue;
  background-color: white;
  border: 0px;

  font-family: Roboto;
  font-weight: 500;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 2px;
  margin: 0px;
}

.cart-item .remove:hover {
  text-decoration: underline;
}

.cart-item .remove svg {
  margin: 0px;
}

/*TODO TODO...
I have to keep all the specified 'margin: 0' above
Not sure why, but a lot of elements are getting tiny bits of extra padding.
I think it happens when I nest elements inside of elements that dont expect
to have children? maybe something to do with the spans that are being created
on the spot, or maybe something with CSS specificity with browser css styles for these elements.
They are ignoring the :root * {margin: 0px} that I set on index.css
*/