.Home{
  text-align: center;
  background-color: var(--theme-gray);
  display: grid;
  justify-items: center;
  align-content: center;

  .hero-text {
    font-size: 4rem;
    margin-top: -80px;
    /* position: relative;
    bottom: 100px; */
  }
  
  a {
    font-size: 1.3rem;
    padding: 10px 15px;
    color: white;
    background-color: var(--theme-blue);
    text-decoration: none;
    /* border: 1px solid black; */

    &:hover {
      background-color: var(--theme-blue-hover);
      /* color: #acb9d2; */
    }
  }

  .description {
    font-size: 1.4rem;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
}


@media (max-width: 800px) {
  .Home {
    .hero-text{
      font-size: 3.6rem;
      margin-top: -20px;
    }
  
    .description {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 600px) {
  .Home {
    .hero-text{
      margin-top: -20px;
      font-size: 3rem;
    }
    
    .description {
      margin-top: 15px;
      margin-bottom: 20px;
      font-size: 1.1rem;
    }
  
    a{
      font-size: 1.3rem;
    }
  }
}