.Shop .error{
  background-color: salmon;
  font-size: 1.6rem;
  display: grid;
  align-content: center;
  justify-content: center;
  margin: 0px;
}

.all-items{
  grid-area: items;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* padding: 0px 5px; */
  /**/
  /*NEW*/
  gap: 30px;
  background-color:hsl(0, 0%, 95%);
  padding: 10px 10px;
}

.all-items.show-description{
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.item{
  /* border: 2px solid black; */
  display: grid;
  justify-content: center;
  align-content: flex-start;
  justify-items: center;
  padding: 20px 10px;
  
  /*to remove long text overlap*/
  overflow: hidden;
  /**/
  /* NEW */
  background-color: white;
  box-shadow: 0px 0px 6px 2px lightgrey;
}

.item .price{
  margin: 5px 0px 0px;
}

.item .title{
  /*h2 has 20 margin bot and top, and fontsize = 1.5rem*/
  margin: 8px 0px 0px;
  font-size: 1.1rem;
  text-align: center;
  color: black;
}

.item > a {
  text-decoration: none;
}

.item > a:hover {
  text-decoration: underline solid black;
}

 .item .description{
  list-style-type: '- ';
}




.item * {
  /* overflow-wrap: break-word; */
}

.item img{
  width: 100px;
  height: auto;
}

.item button{
  font-size: 1.05rem;
  width: 125px;
  height: 30px;
}

.filter {
  grid-area: filter;
  padding: 20px 0px;
  text-align: center;
  max-width: 135px;
  background-color: var(--navbar-color);
  /*TODO TODO change this to be responsive.. dont know why max width doesnt work here*/
  color: white;
}

.filter > .title {
  text-decoration: underline;
}

.filter ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.filter li {
  font-size: 1.2rem;
  padding: 10px 5px;
}

.filter li:hover {
  cursor: pointer;
  background-color: var(--navbar-hover);
  /* background-color: yellow; */
}

.options{
  grid-area: options;
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 5px 10px 0px;
  border: 2px solid black;
}

.options .sort-title {
  margin: 0px;
  font-weight: bold;
  font-size: 1.2rem;
}

.sort select {
  font-size: 1rem;
  margin: 5px;
}

.options .toggle-description{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 3px;
}

.options .toggle-description label{
  font-size: 1.1rem;
}

.options #toggle-description{
  width: 20px;
  height: 20px;
}

.Shop {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
    "filter options"
    "filter items";
}