.all-items{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  
}

.item{
  border: 2px solid green;
  display: grid;
  justify-content: center;
  align-content: flex-start;
  justify-items: center;
  padding-top: 10px;
  
  /*to remove long text overlap*/
  overflow: hidden;
}

.item .price{
  margin: 5px 0px 16px;
}

.item .name{
  /*h2 has 20 margin bot and top, and fontsize = 1.5rem*/
  margin: 8px 0px 0px;
  font-size: 1.38rem;
}

.item * {
  /* overflow-wrap: break-word; */
}

.item img{
  width: 64px;
}

.item button{
  font-size: 1.05rem;
  width: 125px;
  height: 30px;
}