.ItemDetail .error{
  background-color: #FFD8D9;
  font-size: 1.2rem;
  display: grid;
  align-content: center;
  justify-content: center;
  /* align-self: start; */
  margin: 0px;
}

.ItemDetail .loading{
  display: flex;
  justify-content: center;
}

.ItemDetail {
  /* background-color: aliceblue; */
  padding-top: 40px;
  display: grid;
  justify-content: center;
  /* align-items: center; */
  grid-auto-flow: column;
  /* grid-template-columns: minmax(0, 140px); */
  /* gap: 20px; */
}

.ItemDetail .details{
  display: grid;
  justify-items: start;
  max-width: 400px;
  margin-left: 20px;
  gap: 5px;
}

.ItemDetail .name{
  font-weight: 400;
  font-size: 1.4rem;
}

.ItemDetail img {
  max-width: 200px;
  width: 100%;
  height: auto;
}

.ItemDetail .details .price {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 5px 0px;
}

.ItemDetail .description-area{
  margin-top: 15px;
}

.ItemDetail .description-area .title{
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.ItemDetail .details .quantity {
  max-width: 35px;
  font-size: 1.1rem;
  /* justify-self: stretch; */
  text-align: center;
  margin-left: 5px;
}


.ItemDetail .details button {
  font-size: 1.05rem;
  /* padding: 8px 16px; */
  margin-top: 3px;
  background-color: #FFCE00;
  border: 0px;
  /**/

  width: 117px;
  height: 36px;
}

.ItemDetail .details button:hover:not(:disabled){
  background-color: #FFF200;
}

.ItemDetail .details button:disabled{
  color: rgba(0, 0, 0, 0.6);
}



.ItemDetail button .loading{
  margin-top: 0px;
  flex-direction: row;
  gap: 7px;
}

.ItemDetail button .loading-spinner {
  width: 17px;
  height: 17px;
  margin-left: -5px;
}